---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import ProjectCard from "../components/ProjectCard.astro";
import EmbedCard from "../components/EmbedCard.astro";
import {
  SITE_TITLE,
  SITE_DESCRIPTION,
  ABOUT,
  SOFTWARE_PROJECTS,
  OPEN_SOURCE_CONTRIBUTIONS,
  MUSIC_PERFORMANCES,
} from "../content";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>

  <body>
    <Header title={SITE_TITLE} />
    <main role="main" class="pb-3">
      <!-- Content -->
      <div class="container">
        <!-- About Section -->
        <div id="about-section">
          <div class="row justify-content-center align-items-center">
            <div class="col-12 col-lg-7 text-center">
              <p class="lead text-lg-left">{ABOUT}</p>
            </div>
            <div class="col-12 col-lg-4">
              <img
                class="rounded mx-auto d-block img-fluid"
                src="headshot_web.png"
              />
            </div>
          </div>
        </div>

        <hr />

        <!-- Project Section -->
        <div id="project-section">
          <h2 class="text-center p-3">Software Projects</h2>
          <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3">
            {
              SOFTWARE_PROJECTS.map((project) => (
                <div class="col mb-4">
                  <ProjectCard project={project} />
                </div>
              ))
            }
          </div>
        </div>

        <hr />

        <!-- Open Source Section -->
        <div id="opensource-section">
          <h2 class="text-center p-3">Open Source Contributions</h2>
          <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3">
            {
              OPEN_SOURCE_CONTRIBUTIONS.map((project) => (
                <div class="col mb-4">
                  <ProjectCard project={project} />
                </div>
              ))
            }
          </div>
        </div>

        <hr />

        <!-- Music Section -->
        <div id="music-section">
          <h2 class="text-center p-3">Music Performances</h2>
          <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3">
            {
              MUSIC_PERFORMANCES.map((performance) => (
                <div class="col mb-4">
                  <EmbedCard performance={performance} />
                </div>
              ))
            }
          </div>
        </div>
      </div>
    </main>

    <Footer />
  </body>
</html>
